{{ "<!-- NAVIGATION -->" | safeHTML }}
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        {{ "<!-- Brand and toggle get grouped for better mobile display -->" | safeHTML }}
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            {{ with .Site.Params.navigation.brand }}
                <a class="navbar-brand page-scroll" href="#page-top">{{ . | markdownify }}</a>
            {{ end }}
        </div>
        {{ "<!-- Collect the nav links, forms, and other content for toggling -->" | safeHTML }}
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="page-scroll" href="https://ml.internalpositioning.com/login"><i class="fa fa-sign-in fa-fw"></i>&nbsp;Log in</a>
                </li>
                {{ if and .Site.Params.about .Site.Params.navigation.links.about }}
                    <li>
                        <a class="page-scroll" href="#about"><i class="fa fa-magic fa-fw"></i>&nbsp;{{ .Site.Params.navigation.links.about }}</a>
                    </li>
                {{ end }}
                {{ if and .Site.Params.services.list .Site.Params.navigation.links.services }}
                    <li>
                        <a class="page-scroll" href="#services"><i class="fa fa-superpowers fa-fw"></i>&nbsp;{{ .Site.Params.navigation.links.services }}</a>
                    </li>
                {{ end }}
                {{ if and .Site.Data.projects .Site.Params.navigation.links.portfolio }}
                    <li>
                        <a class="page-scroll" href="#portfolio"><i class="fa fa-plug fa-fw"></i>&nbsp;{{ .Site.Params.navigation.links.portfolio }}</a>
                    </li>
                {{ end }}
                {{ if and .Site.Params.location .Site.Params.navigation.links.location }}
                <li>
                    <a class="page-scroll" href="#location">{{ .Site.Params.navigation.links.location }}</a>
                </li>
                {{ end }}
                    <li>
                        <a class="page-scroll" href="/faq/"><i class="fa fa-question-circle fa-fw"></i>&nbsp;FAQ</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/api/"><i class="fa fa-book fa-fw"></i>&nbsp;API</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/post/"><i class="fa fa-newspaper-o fa-fw"></i>&nbsp;Blog</a>
                    </li>
                {{ if and .Site.Params.contact .Site.Params.navigation.links.contact }}
                    <li>
                        <a class="page-scroll" href="#contact"><i class="fa fa-phone fa-fw"></i>&nbsp;{{ .Site.Params.navigation.links.contact }}</a>
                    </li>
                {{ end }}
            </ul>
        </div>
        {{ "<!-- /.navbar-collapse -->" | safeHTML }}
    </div>
    {{ "<!-- /.container-fluid -->" | safeHTML }}
</nav>
