<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{ if .IsNode }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ else }}{{ with .Description }}{{ . }}{{ end }}{{ end }}">
  <meta name="keywords" content="{{ if .IsNode }}{{ with .Site.Params.keywords }}{{ . }}{{ end }}{{ else }}{{ with .Params.keywordlist }}{{ . }}{{ end }}{{ end }}">
  <meta name="og:description" content="{{ if .IsNode }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ else }}{{ with .Description }}{{ . }}{{ end }}{{ end }}">
  <meta property="og:locale" content="en_US" />
  <meta property="og:site_name" content="{{ if .IsHome }}{{ .Title }}{{ else }}{{ .Title }} &middot; {{ .Site.Title }}{{ end }}" />
  <meta name="og:image" content="{{ .Params.thumbnail }}">
  <meta name="robots" content="index,follow">

  <title>{{ if .IsHome }}{{ .Title }}{{ else }}{{ .Title }} &middot; {{ .Site.Title }}{{ end }}</title>

  <!-- CSS -->
  {{ $purecss := "https://cdnjs.cloudflare.com/ajax/libs/pure/0.6.0/" }}
  <link rel="stylesheet" href="/css/pure-min.css">

  {{ "<!--[if lte IE 8]>" | safeHTML }}
  <link rel="stylesheet" href="{{ $purecss }}grids-responsive-old-ie-min.css">
  {{ "<![endif]-->" | safeHTML }}
  {{ "<!--[if gt IE 8]><!-->" | safeHTML }}
  <link rel="stylesheet" href="/css/grids-responsive-min.css">
  {{ "<!--<![endif]-->" | safeHTML }}

  {{ "<!--[if lte IE 8]>" | safeHTML }}
  <link rel="stylesheet" href="/css/side-menu-old-ie.css">
  {{ "<![endif]-->" | safeHTML }}
  {{ "<!--[if gt IE 8]><!-->" | safeHTML }}
  <link rel="stylesheet" href="/css/side-menu.css">
  {{ "<!--<![endif]-->" | safeHTML }}

  <link rel="stylesheet" href="/css/blackburn.css">

  <!-- Icons -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css">

  <!-- RSS -->
  {{ if .RSSLink }}
  <link rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" href="{{ .RSSLink }}" />
  {{ end }}

  {{ with .Site.Params.highlightjs }}
  <link rel="stylesheet" href="/css/androidstudio.min.css">
  <script src="/js/highlight.min.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
  {{ end }}

  {{ partial "favicon.html" . }}

  {{ range .Site.Params.custom_css }}
    <link rel="stylesheet" href="{{ $.Site.BaseURL }}{{ . }}">
  {{ end }}
  {{ range .Site.Params.custom_js }}
    <script src="{{ $.Site.BaseURL }}{{ . }}"></script>
  {{ end }}

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-60006442-1', 'auto');
  ga('send', 'pageview');

</script>
</head>
